APP_NAME=Larajango
APP_ENV=local
APP_KEY=larajango-dev-secret-key
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000
APP_HOSTS=127.0.0.1,localhost
APP_TIMEZONE=UTC
APP_LOCALE=en-us

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite3

CSRF_ORIGIN_ONLY=false
CSRF_ALLOW_SAME_SITE=false
CSRF_XSRF_COOKIE=true
CSRF_EXCEPT=
